body{
	background:url(../images/derk.jpeg);
	object-fit: contain;
	background-size: cover;
	font-family: Arial,sans-serif,Helvetica;
	font-weight: bold;
	text-align: center;
}
.button{
	background-color: #00ff00;
	border-radius: 10px;
	width: 30%;
	font-weight: bold;
}
p{
	background-color: #0275d;
	color: #00ff00;
	border: 2px dotted #f2f2f2;
}
.container h2{
	font-style: italic;
	font-weight: bold;
}
.container{
	margin-top: 80px;
	margin-right: 400px;
	margin-bottom: 80x;
	margin-left: 400px;
	padding-top: 30px;
	padding-bottom: 40px;
	border: 2px solid #fff;
	background-color: coral;
	border-radius: 15px;
	box-sizing: border-box;
	min-height: 400px;
	overflow: hidden;
}
.form-group label{
	display: block;
	text-transform: uppercase;
}
.form-group input[type="text"]{
	border-radius: 15px;
	width: 80%;
	text-align: center;
}
.form-group input[type="password"]{
	border-radius: 15px;
	width: 80%;
	text-align: center;
}